@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Dancing+Script&family=Slabo+27px&display=swap");
body {
	background-color: #033541;
	color: #6a9aa5;
}

.brand {
	margin-top: 5%;
	text-align: center;
	font-size: 5.2rem;
	user-select: none;
	font-family: "Akaya Kanadaka", cursive;
}

.moto {
	text-align: center;
	font-size: 2.2rem;
	user-select: none;
	font-family: "Dancing Script", cursive;
}

.buttons {
	margin-top: 5%;
	text-align: center;
	user-select: none;
}

.buttons > button {
	font-size: 1.5rem;
	margin: 20px;
	width: 10rem;
	height: 3rem;
	outline: none;
	background-color: #417b88;
	color: rgb(219, 217, 217);
	box-shadow: 5px 8px 8px #111111;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-family: "Slabo 27px", serif;
}

.buttons > button:hover {
	color: #6a9aa5;
	background-color: #033541;
	transition: all 0.3s;
	border: 1px solid rgb(219, 217, 217);
}

.buttons > button:active {
	transition: all 0.1s;
	box-shadow: 2px 4px 4px #111111;
	transform: translateY(1px);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #002731;
	user-select: none;
	font-family: "Slabo 27px", serif;
	font-size: 1.2rem;
}

.footer > a,
:active,
:hover,
:link,
:visited {
	text-decoration: none;
	color: #6a9aa5;
}

.heart {
	color: red;
	font-size: 1.3rem;
}

.heart:hover {
	color: red;
	transform: rotate(360deg);
	transition: 1s;
	cursor: pointer;
	font-size: 1.3rem;
}

.heart {
	color: red;
	transform: rotate(-360deg);
	transition: 1s;
	cursor: pointer;
	font-size: 1.3rem;
}
